@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(fonts/fontawesome/css/all.css);
@font-face {
	font-family: "Inter";
	src: url("fonts/Inter-VariableFont_opsz,wght.ttf");
}

body {
	font-family: 'Inter', sans-serif !important;
}

a:link {
	color: #fd9dd9;
	text-decoration: none;
}

a:hover {
	color: #ffcdf0;
	text-decoration: underline;
}

a:visited {
	color: #a681b3;
	text-decoration: none;
}